// pur-office/src/assets/scss/modules/cards.scss

.pur-card {
  .mat-mdc-card-header {
    padding: 1.5rem 1.5rem 0;
  }

  .mat-mdc-card-header-text {
    width: 100%;
  }

  .mat-mdc-card-title {
    color: var(--mat-sys-primary);
    font: var(--mat-sys-display-small);
  }

  .mat-mdc-card-subtitle {
    margin-top: 0.5rem;
    color: var(--mat-sys-on-surface-variant);
    font: var(--mat-sys-body-large);
  }

  .mat-mdc-card-content {
    padding: 1.5rem;
  }

  &--user {
    .mat-mdc-card-content {
      display: flex;
      align-items: center;
      gap: 0.75rem;
      padding: 1rem;
    }

    .pur-card__avatar {
      display: flex;
      flex: 0 0 2rem;
      color: var(--mat-sys-primary);

      mat-icon {
        width: 2rem;
        height: 2rem;
        font-size: 2rem;
      }
    }

    .pur-card__text {
      display: flex;
      flex-direction: column;
      gap: 0.25rem;
      min-width: 0;
      overflow-wrap: anywhere;

      span {
        font: var(--mat-sys-title-small);
      }

      small {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        color: var(--mat-sys-on-surface-variant);
        font: var(--mat-sys-body-small);
      }
    }
  }
}
